mixin module__top-slider(data)
  - var bemClass = 'module__top-slider'
  .module__top-slider&attributes(attributes).animated.fade
    .jsSlick#jsSlick 
      .parallax(data-slide='slide 1')
        .slide(style="background-image: url(assets/images/slider/1.jpg)") 
          diz(class=bemClass + '__title') 
            h1.fadeIn overallmurals
            div(class=bemClass + '__str').fadeIn Play shoureel
              span
      .parallax(data-slide='slide 2')
        .slide(style="background-image: url(assets/images/slider/2.jpg)") 
          diz(class=bemClass + '__title') 
            h1.fadeIn overallmurals
            div(class=bemClass + '__str').fadeIn Play shoureel
              span
      .parallax(data-slide='slide 3')
        .slide(style="background-image: url(assets/images/slider/3.jpg)") 
          diz(class=bemClass + '__title') 
            h1.fadeIn overallmurals
            div(class=bemClass + '__str').fadeIn Play shoureel
              span
      .parallax(data-slide='slide 4')
        .slide(style="background-image: url(assets/images/slider/1.jpg)") 
          diz(class=bemClass + '__title') 
            h1.fadeIn overallmurals
            div(class=bemClass + '__str').fadeIn Play shoureel
              span
      .parallax(data-slide='slide 5')
        .slide(style="background-image: url(assets/images/slider/2.jpg)") 
          diz(class=bemClass + '__title') 
            h1.fadeIn overallmurals
            div(class=bemClass + '__str').fadeIn Play shoureel
              span