mixin module__text(data)
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') good stuff
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') good stuff
      span(class=bemClass + '__str-3') Work
      p We spread dynamic messages through our unique hand-painted outdoor advertising mural campaigns. We spread dynamic messages through our unique hand-painted mural campaigns.

mixin module__text-2
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') Hermes
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') Hermes
      span(class=bemClass + '__str-3') The story
      p Hermès, the iconic Paris luxury fashion brand headed to downtown LA for its inaugural West Coast men’s runway show. The #hermes  dwntwnmen event was a wild warehouse party, complete with immersive experiences, including game and listening rooms, open-air concerts and of course the fashion! Each room at the main event was given an uplifting moniker, including “Give the Joy Back”, “Feel the Color”, and “Persistence is Fruitful.” These slogans were all created by well-known graphic artist, Anthony Burrill. His contemporary outlook on art perfectly complemented Hermès’ renowned style.
      p To build awareness and create buzz amongst influencers, Hermès used these slogans and bold bright colors, including the well-known Hermès orange as part of an OOH campaign in equally vibrant Venice. Utilizing two hand painted walls,specifically selected by Hermès, the walls reflected the fun and fresh vibes the brand was portraying. The bright, rainbow gradients, and bold signature orange grabbed the attention of anyone passing through, even a colorful parrot stopped by for a few to get an up close view.
      div(class=bemClass + '__quote-wrap') 
        span(class=bemClass + '__quote') The mural was featured on Nickelodeon’s official Instagram and Facebook 
        span(class=bemClass + '__quote') from excited diehard fans.