mixin module__text(data)
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') good stuff
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') good stuff
      span(class=bemClass + '__str-3') Work
      p We spread dynamic messages through our unique hand-painted outdoor advertising mural campaigns. We spread dynamic messages through our unique hand-painted mural campaigns.

mixin module__text-2
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') Hermes
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') Hermes
      span(class=bemClass + '__str-3') The story
      p Hermès, the iconic Paris luxury fashion brand headed to downtown LA for its inaugural West Coast men’s runway show. The #hermes  dwntwnmen event was a wild warehouse party, complete with immersive experiences, including game and listening rooms, open-air concerts and of course the fashion! Each room at the main event was given an uplifting moniker, including “Give the Joy Back”, “Feel the Color”, and “Persistence is Fruitful.” These slogans were all created by well-known graphic artist, Anthony Burrill. His contemporary outlook on art perfectly complemented Hermès’ renowned style.
      p To build awareness and create buzz amongst influencers, Hermès used these slogans and bold bright colors, including the well-known Hermès orange as part of an OOH campaign in equally vibrant Venice. Utilizing two hand painted walls,specifically selected by Hermès, the walls reflected the fun and fresh vibes the brand was portraying. The bright, rainbow gradients, and bold signature orange grabbed the attention of anyone passing through, even a colorful parrot stopped by for a few to get an up close view.
      div(class=bemClass + '__quote-wrap') 
        span(class=bemClass + '__quote').jsShow The mural was featured on Nickelodeon’s official Instagram and Facebook 
        span(class=bemClass + '__quote').jsShow from excited diehard fans.

mixin module__text-3
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') Location
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') Location
      span(class=bemClass + '__str-3') Murals can transform
      p Overall Murals maintains a portfolio of both permanent and per-usage real estate locations throughout New York City and other major U.S. markets.
      p We’re continually curating and expanding our inventory of both streetscapes and wallscapes in order to immediately meet the needs of any client’s campaign goals, budget, and target market.
      p Wallscapes are soaring, iconic, elevated displays that integrate into the cultural scenery and are visible from long distances. Streetscapes are pedestrian-level displays that allow passersby to have a closer relationship with both the production process and the final painting. <br><br><br><br>
      span(class=bemClass + '__str-3') we have locations in:
      h5 New York City 
      h5 Los Angeles
      h5 San Francisco
      h5 Chicago
      h5 Atlanta
      h5 Austin
      h5 Nashville

mixin module__text-4
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') WHO WE ARE
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') Who we are
      span(class=bemClass + '__str-3') Overall Murals, Inc.
      p Represents a new generation of sign painters and muralists that both reflects and shapes contemporary visual culture. From graphic design and street art to the age-old intimate craft of hand painting, Overall Murals synthesizes the inspiration, techniques, and practical know-how to make art with impact on a grand scale.
      p Artist Dmitry Pankov and media professional Angel Saemai launched Overall Murals in 2010, to showcase their combined strengths and experience in fine art and advertising.
      div(class=bemClass + '__quote-wrap') 
        span(class=bemClass + '__quote').jsShow The mural was featured on Nickelodeon’s official Instagram and Facebook 
        span(class=bemClass + '__quote').jsShow from excited diehard fans.


mixin module__text-5
  - var bemClass = 'module__text'
  .module__text&attributes(attributes)
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') Services
      span(class=bemClass + '__str-3') hhedia
      p Through an inventory of high impact wallscapes and intimate streetscapes all over New York City.
      ul 
        li Provide clients with fresh and unique media concepts
        li Advise clients through carefully tailored media plans and a comprehensive selection of permanent wall locations

mixin module__text-team
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') ARTISTS WORK
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') Team
      span(class=bemClass + '__str-3') Artists work
      p Overall Murals is deeply committed to preserving and enhancing the native aesthetic of the communities in which they work. Since 2011 Overall has developed relationships with local and international artists to transform city walls into curated art pieces,through their company-initiated public art program, Artists Work.

mixin module__text-clients
  - var bemClass = 'module__text'
  .module__text&attributes(attributes).jsText
    span(class=bemClass + '__str') Our Clients
    div(class=bemClass + '__col')
      span(class=bemClass + '__str-2') The brands we’ve worked
      span(class=bemClass + '__str-3') Our Clients
      p Overall Murals is deeply committed to preserving and enhancing the native aesthetic of the communities in which they work. Since 2011 Overall has developed relationships with local and international artiststo transform city walls into curated art pieces,through their company-initiated public art program, Artists Work.